:root {
  --white: #fff;
  --black: #080808;

  /* gray */
  --gray-50: #f2f2f2;
  --gray-100: #d9d9d9;
  --gray-200: #bfbfbf;
  --gray-300: #a6a6a6;
  --gray-400: #8c8c8c;
  --gray-500: #737373;
  --gray-600: #636363;
  --gray-700: #545454;
  --gray-800: #454545;
  --gray-900: #363636;
  --gray-950: #262626;

  /* primary */
  --primary-50: #e7f9f4;
  --primary-100: #caf2e6;
  --primary-200: #a1e8d3;
  --primary-300: #71ddbc;
  --primary-400: #42d1a6;
  --primary-500: #13c690;
  --primary-600: #10a87a;
  --primary-700: #0d8b65;
  --primary-800: #0a6d4f;
  --primary-900: #084f3a;
  --primary-950: #053224;
  --primary-op-01: rgba(10, 109, 79, 0.08);
  --primary-op-02: rgba(10, 109, 79, 0.16);
  --primary-op-03: rgba(10, 109, 79, 0.2);
  --primary-op-04: rgba(10, 109, 79, 0.3);
  --primary-op-05: rgba(10, 109, 79, 0.5);

  /* neutrals */
  --neutrals-50: #f9fafb;
  --neutrals-100: #f0f3f9;
  --neutrals-200: #e9eff6;
  --neutrals-300: #d7dfe9;
  --neutrals-400: #afbaca;
  --neutrals-500: #8897ae;
  --neutrals-600: #5e718d;
  --neutrals-700: #455468;
  --neutrals-800: #3d4a5c;
  --neutrals-900: #2d3643;
  --neutrals-950: #0a0c11;
  --neutrals-op-01: rgba(61, 74, 92, 0.08);
  --neutrals-op-02: rgba(61, 74, 92, 0.16);
  --neutrals-op-03: rgba(61, 74, 92, 0.2);
  --neutrals-op-04: rgba(61, 74, 92, 0.3);
  --neutrals-op-05: rgba(61, 74, 92, 0.5);

  /* success */
  --success-50: #f6feec;
  --success-100: #ebfcd5;
  --success-200: #d4f9ac;
  --success-300: #b1ee80;
  --success-400: #8fde5d;
  --success-500: #5fc92e;
  --success-600: #44ac21;
  --success-700: #2d9017;
  --success-800: #1a740e;
  --success-900: #1a740e;
  --success-950: #184616;
  --success-op-01: rgba(26, 116, 14, 0.08);
  --success-op-02: rgba(26, 116, 14, 0.16);
  --success-op-03: rgba(26, 116, 14, 0.2);
  --success-op-04: rgba(26, 116, 14, 0.3);
  --success-op-05: rgba(26, 116, 14, 0.5);

  /* info */
  --info-50: #ebf3ff;
  --info-100: #cde2fe;
  --info-200: #a7c9fd;
  --info-300: #7ba8f9;
  --info-400: #598cf4;
  --info-500: #2561ed;
  --info-600: #1b4acb;
  --info-700: #1236aa;
  --info-800: #0b2589;
  --info-900: #071971;
  --info-950: #040f43;
  --info-op-01: rgba(11, 37, 137, 0.08);
  --info-op-02: rgba(11, 37, 137, 0.16);
  --info-op-03: rgba(11, 37, 137, 0.2);
  --info-op-04: rgba(11, 37, 137, 0.3);
  --info-op-05: rgba(11, 37, 137, 0.5);

  /* warning */
  --warning-50: #fef5e6;
  --warning-100: #feeac8;
  --warning-200: #fde0af;
  --warning-300: #fdd491;
  --warning-400: #fcc873;
  --warning-500: #fbbc55;
  --warning-600: #e9a23b;
  --warning-700: #c8811a;
  --warning-800: #c8811a;
  --warning-900: #8b4400;
  --warning-950: #572a00;
  --warning-op-01: rgba(163, 92, 0, 0.08);
  --warning-op-02: rgba(163, 92, 0, 0.16);
  --warning-op-03: rgba(163, 92, 0, 0.2);
  --warning-op-04: rgba(163, 92, 0, 0.3);
  --warning-op-05: rgba(163, 92, 0, 0.5);

  /* error */
  --error-50: #fdf1f1;
  --error-100: #fbdddd;
  --error-200: #f7bbbb;
  --error-300: #f29899;
  --error-400: #ee7677;
  --error-500: #ea5455;
  --error-600: #e24445;
  --error-700: #bf1719;
  --error-800: #921213;
  --error-900: #640c0d;
  --error-950: #370707;
  --error-op-01: rgba(146, 18, 19, 0.08);
  --error-op-02: rgba(146, 18, 19, 0.16);
  --error-op-03: rgba(146, 18, 19, 0.2);
  --error-op-04: rgba(146, 18, 19, 0.3);
  --error-op-05: rgba(146, 18, 19, 0.5);

  /* orange */
  --orange-50: #fff7ed;
  --orange-100: #ffedd5;
  --orange-200: #fed7aa;
  --orange-300: #feba73;
  --orange-400: #fc933b;
  --orange-500: #fa7415;
  --orange-600: #ea580b;
  --orange-700: #c3420b;
  --orange-800: #9b3411;
  --orange-900: #7c2d12;
  --orange-950: #431407;

  /* fuchsia */
  --fuchsia-50: #fef4ff;
  --fuchsia-100: #fce8ff;
  --fuchsia-200: #f8d0fe;
  --fuchsia-300: #f1abfc;
  --fuchsia-400: #e879f9;
  --fuchsia-500: #d946ef;
  --fuchsia-600: #bc26d3;
  --fuchsia-700: #bc26d3;
  --fuchsia-800: #80198f;
  --fuchsia-900: #691a75;
  --fuchsia-950: #44044e;

  /* purple */
  --purple-50: #f7f3ff;
  --purple-100: #efe9fe;
  --purple-200: #e2d6fe;
  --purple-300: #cbb5fd;
  --purple-400: #ad8bfa;
  --purple-500: #8b5cf6;
  --purple-600: #713aed;
  --purple-700: #5e28d9;
  --purple-800: #4e21b6;
  --purple-900: #421d95;
  --purple-950: #2a1065;

  /* lilac */
  --lilac-50: #eeeeff;
  --lilac-100: #e0e1ff;
  --lilac-200: #c7c8fe;
  --lilac-300: #a5a7fc;
  --lilac-400: #8184f8;
  --lilac-500: #6366f1;
  --lilac-600: #4649e5;
  --lilac-700: #383bca;
  --lilac-800: #3032a3;
  --lilac-900: #2e3081;
  --lilac-950: #1b1c4b;

  /* pink */
  --pink-50: #fdf2f8;
  --pink-100: #fce7f3;
  --pink-200: #fbcfe8;
  --pink-300: #f9a8d4;
  --pink-400: #f373b6;
  --pink-500: #eb4899;
  --pink-600: #da2878;
  --pink-700: #bd195d;
  --pink-800: #9c184d;
  --pink-900: #821943;
  --pink-950: #500724;

  /* shadow */
  --shadow-e1: 0 1px 1px 0 rgba(0, 0, 0, 0.08);
  --shadow-e2: 0 2px 3px 0 rgba(0, 0, 0, 0.08);
  --shadow-e3: 0 4px 5px -1px rgba(0, 0, 0, 0.08);
  --shadow-e4: 0 6px 7px -2px rgba(0, 0, 0, 0.08);
  --shadow-e5: 0 8px 11px -3px rgba(0, 0, 0, 0.08);
  --shadow-e6: 0 12px 19px -5px rgba(0, 0, 0, 0.08);
  --shadow-e7: 0 12px 24px -5px rgba(0, 0, 0, 0.10);
  --shadow-e8: 0 24px 24px -16px rgba(0, 0, 0, 0.10);

  /* shadow-primary */
  --shadow-p-e1: 0 1px 1px 0 rgba(19, 198, 144, 0.08);
  --shadow-p-e2: 0 2px 3px 0 rgba(19, 198, 144, 0.08);
  --shadow-p-e3: 0 4px 5px -1px rgba(19, 198, 144, 0.08);
  --shadow-p-e4: 0 6px 7px -2px rgba(19, 198, 144, 0.08);
  --shadow-p-e5: 0 8px 11px -3px rgba(19, 198, 144, 0.08);
  --shadow-p-e6: 0 12px 19px -5px rgba(19, 198, 144, 0.08);
  --shadow-p-e7: 0 12px 24px -5px rgba(19, 198, 144, 0.10);
  --shadow-p-e8: 0 24px 24px -16px rgba(19, 198, 144, 0.10);
}

/* 다크모드 */
:root[data-theme="dark"] {
  --white: #080808;
  --black: #fff;

  --gray-50: #262626;
  --gray-100: #363636;
  --gray-200: #454545;
  --gray-300: #545454;
  --gray-400: #636363;
  --gray-500: #737373;
  --gray-600: #8c8c8c;
  --gray-700: #a6a6a6;
  --gray-800: #bfbfbf;
  --gray-900: #d9d9d9;
  --gray-950: #f2f2f2;

  --primary-50: #053224;
  --primary-100: #084f3a;
  --primary-200: #0a6d4f;
  --primary-300: #0d8b65;
  --primary-400: #10a87a;
  --primary-500: #13c690;
  --primary-600: #42d1a6;
  --primary-700: #71ddbc;
  --primary-800: #a1e8d3;
  --primary-900: #caf2e6;
  --primary-950: #e7f9f4;
  --primary-op-01: rgba(161, 232, 211, 0.16);
  --primary-op-02: rgba(161, 232, 211, 0.24);
  --primary-op-03: rgba(161, 232, 211, 0.28);
  --primary-op-04: rgba(161, 232, 211, 0.3);
  --primary-op-05: rgba(161, 232, 211, 0.5);

  --neutrals-50: #0a0c11;
  --neutrals-100: #2d3643;
  --neutrals-200: #3d4a5c;
  --neutrals-300: #455468;
  --neutrals-400: #5e718d;
  --neutrals-500: #8897ae;
  --neutrals-600: #afbaca;
  --neutrals-700: #d7dfe9;
  --neutrals-800: #e9eff6;
  --neutrals-900: #f0f3f9;
  --neutrals-950: #f9fafb;
  --neutrals-op-01: rgba(233, 239, 246, 0.16);
  --neutrals-op-02: rgba(233, 239, 246, 0.24);
  --neutrals-op-03: rgba(233, 239, 246, 0.28);
  --neutrals-op-04: rgba(233, 239, 246, 0.3);
  --neutrals-op-05: rgba(233, 239, 246, 0.5);

  --success-50: #184616;
  --success-100: #0b5507;
  --success-200: #1a740e;
  --success-300: #2d9017;
  --success-400: #44ac21;
  --success-500: #5fc92e;
  --success-600: #8fde5d;
  --success-700: #b1ee80;
  --success-800: #d4f9ac;
  --success-900: #ebfcd5;
  --success-950: #f6feec;
  --success-op-01: rgba(212, 249, 172, 0.16);
  --success-op-02: rgba(212, 249, 172, 0.24);
  --success-op-03: rgba(212, 249, 172, 0.28);
  --success-op-04: rgba(212, 249, 172, 0.3);
  --success-op-05: rgba(212, 249, 172, 0.5);

  --info-50: #040f43;
  --info-100: #071971;
  --info-200: #0b2589;
  --info-300: #1236aa;
  --info-400: #1b4acb;
  --info-500: #2561ed;
  --info-600: #598cf4;
  --info-700: #7ba8f9;
  --info-800: #a7c9fd;
  --info-900: #cde2fe;
  --info-950: #ebf3ff;
  --info-op-01: rgba(167, 201, 253, 0.16);
  --info-op-02: rgba(167, 201, 253, 0.24);
  --info-op-03: rgba(167, 201, 253, 0.28);
  --info-op-04: rgba(167, 201, 253, 0.3);
  --info-op-05: rgba(167, 201, 253, 0.5);

  --warning-50: #572a00;
  --warning-100: #8b4400;
  --warning-200: #a35c00;
  --warning-300: #c8811a;
  --warning-400: #e9a23b;
  --warning-500: #fbbc55;
  --warning-600: #fcc873;
  --warning-700: #fdd491;
  --warning-800: #fde0af;
  --warning-900: #feeac8;
  --warning-950: #fef5e6;
  --warning-op-01: rgba(253, 224, 175, 0.16);
  --warning-op-02: rgba(253, 224, 175, 0.24);
  --warning-op-03: rgba(253, 224, 175, 0.28);
  --warning-op-04: rgba(253, 224, 175, 0.3);
  --warning-op-05: rgba(253, 224, 175, 0.5);

  --error-50: #370707;
  --error-100: #640c0d;
  --error-200: #921213;
  --error-300: #bf1719;
  --error-400: #e24445;
  --error-500: #ea5455;
  --error-600: #ee7677;
  --error-700: #f29899;
  --error-800: #f7bbbb;
  --error-900: #fbdddd;
  --error-950: #fdf1f1;
  --error-op-01: rgba(247, 187, 187, 0.16);
  --error-op-02: rgba(247, 187, 187, 0.24);
  --error-op-03: rgba(247, 187, 187, 0.28);
  --error-op-04: rgba(247, 187, 187, 0.3);
  --error-op-05: rgba(247, 187, 187, 0.5);

  --orange-50: #431407;
  --orange-100: #7c2d12;
  --orange-200: #9b3411;
  --orange-300: #c3420b;
  --orange-400: #ea580b;
  --orange-500: #fa7415;
  --orange-600: #fc933b;
  --orange-700: #feba73;
  --orange-800: #fed7aa;
  --orange-900: #ffedd5;
  --orange-950: #fff7ed;

  --fuchsia-50: #44044e;
  --fuchsia-100: #691a75;
  --fuchsia-200: #80198f;
  --fuchsia-300: #bc26d3;
  --fuchsia-400: #bc26d3;
  --fuchsia-500: #d946ef;
  --fuchsia-600: #e879f9;
  --fuchsia-700: #f1abfc;
  --fuchsia-800: #f8d0fe;
  --fuchsia-900: #fce8ff;
  --fuchsia-950: #fef4ff;

  --purple-50: #2a1065;
  --purple-100: #421d95;
  --purple-200: #4e21b6;
  --purple-300: #5e28d9;
  --purple-400: #713aed;
  --purple-500: #8b5cf6;
  --purple-600: #ad8bfa;
  --purple-700: #cbb5fd;
  --purple-800: #e2d6fe;
  --purple-900: #efe9fe;
  --purple-950: #f7f3ff;

  --lilac-50: #1b1c4b;
  --lilac-100: #2e3081;
  --lilac-200: #3032a3;
  --lilac-300: #383bca;
  --lilac-400: #4649e5;
  --lilac-500: #6366f1;
  --lilac-600: #8184f8;
  --lilac-700: #a5a7fc;
  --lilac-800: #c7c8fe;
  --lilac-900: #e0e1ff;
  --lilac-950: #eeeeff;

  --pink-50: #500724;
  --pink-100: #821943;
  --pink-200: #9c184d;
  --pink-300: #bd195d;
  --pink-400: #da2878;
  --pink-500: #eb4899;
  --pink-600: #f373b6;
  --pink-700: #f9a8d4;
  --pink-800: #fbcfe8;
  --pink-900: #fce7f3;
  --pink-950: #fdf2f8;

  /* shadow */
  --shadow-e1: 0 1px 1px 0 rgba(255, 255, 255, 0.08);
  --shadow-e2: 0 2px 3px 0 rgba(255, 255, 255, 0.08);
  --shadow-e3: 0 4px 5px -1px rgba(255, 255, 255, 0.08);
  --shadow-e4: 0 6px 7px -2px rgba(255, 255, 255, 0.08);
  --shadow-e5: 0 8px 11px -3px rgba(255, 255, 255, 0.08);
  --shadow-e6: 0 12px 19px -5px rgba(255, 255, 255, 0.08);
  --shadow-e7: 0 12px 24px -5px rgba(255, 255, 255, 0.10);
  --shadow-e8: 0 24px 24px -16px rgba(255, 255, 255, 0.10);

  /* shadow-primary */
  --shadow-p-e1: 0 1px 1px 0 rgba(19, 198, 144, 0.13);
  --shadow-p-e2: 0 2px 3px 0 rgba(19, 198, 144, 0.13);
  --shadow-p-e3: 0 4px 5px -1px rgba(19, 198, 144, 0.13);
  --shadow-p-e4: 0 6px 7px -2px rgba(19, 198, 144, 0.13);
  --shadow-p-e5: 0 8px 11px -3px rgba(19, 198, 144, 0.13);
  --shadow-p-e6: 0 12px 19px -5px rgba(19, 198, 144, 0.13);
  --shadow-p-e7: 0 12px 24px -5px rgba(19, 198, 144, 0.15);
  --shadow-p-e8: 0 24px 24px -16px rgba(19, 198, 144, 0.15);
}

.force-light {
  --white: #fff;
  --neutrals-100: #f0f3f9;
  --neutrals-700: #455468;
  --neutrals-800: #3d4a5c;
  /* 라이트 모드로만 사용해야하는 components 용 (ThemeToggle) */
}
