@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src:
    local("Pretendard ExtraBold"),
    url("@/styles/fonts/Pretendard-ExtraBold.woff2") format("woff2"),
    url("@/styles/fonts/Pretendard-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src:
    local("Pretendard Bold"),
    url("@/styles/fonts/Pretendard-Bold.woff2") format("woff2"),
    url("@/styles/fonts/Pretendard-Bold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src:
    local("Pretendard SemiBold"),
    url("@/styles/fonts/Pretendard-SemiBold.woff2") format("woff2"),
    url("@/styles/fonts/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src:
    local("Pretendard Medium"),
    url("@/styles/fonts/Pretendard-Medium.woff2") format("woff2"),
    url("@/styles/fonts/Pretendard-Medium.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src:
    local("Pretendard Light"),
    url("@/styles/fonts/Pretendard-Regular.woff2") format("woff2"),
    url("@/styles/fonts/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src:
    local("Pretendard Light"),
    url("@/styles/fonts/Pretendard-Light.woff2") format("woff2"),
    url("@/styles/fonts/Pretendard-Light.woff") format("woff");
}
